<?php

$header = <<<EOF
This file is part of the GeckoPackages.

(c) GeckoPackages https://github.com/GeckoPackages

This source file is subject to the MIT license that is bundled
with this source code in the file LICENSE.
EOF;

Symfony\CS\Fixer\Contrib\HeaderCommentFixer::setHeader($header);

return Symfony\CS\Config\Config::create()
    // use SYMFONY_LEVEL:
    ->level(Symfony\CS\FixerInterface::SYMFONY_LEVEL)
    // and extra fixers:
    ->fixers(array(
        'ereg_to_preg',
        'header_comment',
        'long_array_syntax',
        'newline_after_open_tag',
        'no_useless_return',
        'ordered_use',
        'php_unit_construct',
        'php_unit_strict',
        'strict',
        'strict_param',
        '-empty_return',
        '-psr0',
    ))
    ->finder(
        Symfony\CS\Finder\DefaultFinder::create()
            ->in(__DIR__.'/src/')
            ->in(__DIR__.'/tests/')
            ->name('*.php')
    )
;
